amqp==2.5.0
billiard==3.6.0.0
boto3==1.9.204
botocore==1.12.204
celery==4.3.0
certifi==2019.6.16
chardet==3.0.4
Django==2.2.10
django-redis==4.10.0
django-storages==1.7.1
django-tinymce==2.8.0
docutils==0.14
elasticsearch==6.4.0
elasticsearch-dsl==6.4.0
future==0.17.1
idna==2.8
jmespath==0.9.4
kombu==4.6.3
mysqlclient==1.4.2.post1
PyMySQL==0.9.3
python-dateutil==2.8.0
pytz==2019.2
redis==3.3.6
requests==2.22.0
requests-aws4auth==0.9
s3transfer==0.2.1
six==1.12.0
sqlparse==0.3.0
stripe==2.33.2
urllib3==1.25.3
uWSGI==2.0.18
vine==1.3.0
