{# For user_center_address.html user_center_info.html, user_center_order.html #}
{% extends 'base_no_cart.html' %}
{% block title %}SuperbFresh | User Center {% endblock title %}
{% block page_title %} User Center {% endblock page_title %}

{% block body %}
    <div class="main_con clearfix">
        <div class="left_menu_con clearfix">
            <h3>User Center</h3>
            <ul>
                <li><a href="{% url 'user:user' %}" {% if page == 'user' %}class="active"{% endif %}> Account </a></li>
                <li><a href="{% url 'user:order' 1 %}" {% if page == 'order' %}class="active"{% endif %}> Orders </a>
                </li>
                <li><a href="{% url 'user:address' %}" {% if page == 'address' %}class="active"{% endif %}> Address </a>
                </li>
            </ul>
        </div>
        {% block right_content %}{% endblock right_content %}
    </div>
{% endblock body %}